.slikadiv  {
        width: 650px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        }
input   {
        width: 550px;
        margin-left: 60px;
        height: 25px;
        }

.gumbdiv{
        width: 300px;
        margin-left: 570px;
        margin-top: 10px;
        content: 50px;
         }

.gumba  {
        height: 30px;
        }

.gor    {
        float: right;
        margin-top: -60px;
        margin-right: 20px;
        }

p       {
        margin-left: 560px;
        margin-top: 40px;
        width: 300px;
        }
div a   {
        text-decoration:none;
        color: black;
        margin-right: -2px; 
        }

.spodaj {
       width: 100%;
       margin-top: 245px;
        background-color: #DCD9DE;
        height: 35px;
        padding-top: 15px;
        }

.right  {
        float:right;
        }

div div a{
        margin-left:10px;
        
        }

.levo   {
        
        width: 400px;
        margin-right: 5px;
        float: left;
        
        }


