.slikadiv  {
        width: 650px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        }
input   {
        width: 550px;
        margin-left: 60px;
        height: 25px;
        }

.gumbdiv{
        width: 300px;
        margin-left: 570px;
        margin-top: 10px;
        content: 50px;
         }

.gumba  {
        height: 30px;
        }

.gor    {
        float: right;
        margin-top: -60px;
        margin-right: 20px;
        }

p       {
        margin-left: 560px;
        margin-top: 40px;
        width: 300px;
        }
div a   {
        text-decoration:none;
        color: black;
        }

.spodaj {
        width:450px;
        float: right;
        margin-top: 250px;
        }
